services:
  chrono-luxe-container:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7777:7777" # Assuming your Node.js app runs on port 3000
    environment:
      NODE_ENV: production

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - chrono-luxe-container

  # mongodb: # Uncomment and configure if you have a MongoDB instance
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongodb_data:/data/db

# volumes:
#   mongodb_data:
