/* Sidebar Styling */
.sidebar {
    width: 300px;
    background: var(--card-dark);
    padding: 40px 20px;
    border-radius: 20px;
    border: 1px solid var(--border-subtle);
    align-self: flex-start;
    flex-shrink: 0;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar-circle {
    width: 90px;
    height: 90px;
    background: var(--bg-black);
    border: 2px solid var(--gold);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-circle:hover {
    box-shadow: 0 0 15px rgba(197, 160, 89, 0.6);
    transition: 0.3s;
}

.avatar-edit-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.avatar-circle:hover .avatar-edit-overlay {
    opacity: 1;
}

.profile-header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-header h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.user-email {
    color: var(--text-grey);
    font-size: 0.85rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: transparent
}

.nav-item {
    padding: 14px 20px;
    text-decoration: none;
    color: var(--text-grey);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
    font-size: 0.9rem;
}

.nav-item:hover,
.nav-item.active {
    background: var(--border-subtle);
    color: var(--gold);
}

.logout {
    color: #ff4d4d;
    margin-top: 20px;
}

.glass-popup {
    color: white;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background: rgba(255, 255, 255, 0.15) !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}