        /* Center whole page */
        body {
            margin: 0;
            font-family: "Inter", sans-serif;
            background: url('/images/optimg.jpg');
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-size: cover;
        }

        /* OTP Card Container */
        .card-wrapper {
            width: 100%;
            max-width: 450px;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(3px);
            padding: 40px 32px;
            border-radius: 16px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
            text-align: center;
            color: white;
        }



        h2 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            color: white;
            margin-bottom: 25px;
        }

        .otp-box {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-bottom: 25px;
        }

        .otp-box input {
            width: 50px;
            height: 55px;
            font-size: 22px;
            text-align: center;
            border: 2px solid #C8A974;
            border-radius: 8px;
            outline: none;
            background: white;
        }

        .otp-box input:focus {
            border-color: #C8A974;
        }

        button {
            width: 100%;
            background: #8A6F3E;
            color: white;
            padding: 14px;
            border: none;
            border-radius: 8px;
            font-size: 17px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background: #6F5632;
        }

        .resend {
            margin-top: 15px;
            font-size: 14px;
        }

        .resend a {
            font-weight: 600;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

        .disabled {
            pointer-events: none;
            color: #8d8d8d !important;
        }

        .return-login {
            margin-top: 25px;
        }

        .return-login a {
            color: #5A4631;
            font-weight: 600;
            text-decoration: none;
        }

        .glass-popup {
            color: white;
            backdrop-filter: blur(15px) saturate(180%);
            -webkit-backdrop-filter: blur(15px) saturate(180%);
            background: rgba(255, 255, 255, 0.15) !important;
            border-radius: 20px !important;
            border: 1px solid rgba(255, 255, 255, 0.3) !important;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        }